/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #080059;
  --ifm-color-primary-dark: #070050;
  --ifm-color-primary-darker: #07004c;
  --ifm-color-primary-darkest: #06003e;
  --ifm-color-primary-light: #090062;
  --ifm-color-primary-lighter: #090066;
  --ifm-color-primary-lightest: #0a0074;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme="dark"] {
  --ifm-color-primary: #cacced;
  --ifm-color-primary-dark: #a9ace2;
  --ifm-color-primary-darker: #999ddc;
  --ifm-color-primary-darkest: #888dd7;
  --ifm-color-primary-light: #ebecf8;
  --ifm-color-primary-lighter: #fbfbfe;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #ffffff;
} */
